/* Universal Code */

html {
  background-image: url('backgroundimg.jpg');
}

/* Navagation Bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


/* Header */

/* Body */

body h2 {
background-color: #777;
}

.title {
  columns: 1;
}



  /* Projects */

.desc {
  background-color: #ffffff;
}

div.gallery {
  margin: 5px;
  border: 1px solid #000000;
  float: left;
  width: 180px;
}
    
div.gallery:hover {
  border: 2px solid;
}
    
div.gallery img {
  width: 100%;
  height: auto;
}
    
div.desc {
  padding: 15px;
  text-align: center;
}

.ugrch, .clsproj, .cdecdy {
columns: 1;
background-color: #CDCDCD;
}

  /* Bio */
.biogrt {
  columns: 2;
  background-image: linear-gradient(to right, 
  darkblue 0%, 
  darkblue 50%, 
  #87ceeb 50%, 
  #87ceeb 100%);
}

.biogrt img {
  width: 500px;
  height: auto;
  display: flex;
  margin: 22px auto 22px auto;
}

#biotxt {
  text-align: center;
  display: inline-block;
  margin: 50px 30px 20px 30px;
  line-height: 35px;
  font-size: large;
}

/* Contact */
.gridone {
  width: 40%;
  padding: 5px 5px;
  margin: 10px 0 10px 10px;
  background-color: black;
  opacity: 0.8;
  color: seashell;
}

.gridone p {
  padding-left: 5px;
}

/* Footer */
footer {
  background-color: #333;
  color: #FFFFFF;
  padding: 14px 16px;
  position: static;
}