/* Universal */
html {
    --custom-lblue: rgb(60, 92, 168);
    background-image: url("./images/backgroundImage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.about, .skills, .projects, .contact {
    margin-left: 22.5%;
    margin-right: 3%;
}

h2 {
    border-top: 5px solid #5c6367;
    padding-top: 2.5%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 32px;
}

.borderUnderline {
    background-color: var(--custom-lblue);
    height: 3px;
    width: 60px;
    margin: 10px auto;
}

p {
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 16px;
    margin-top: 18.72px;
}

/* The button used to open the sidebar */
.main {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

.openbtn:hover {
    background-color: #5c6367;
  }


.openbtn {
    font-size: 32px;
    cursor: pointer;
    background-color: var(--custom-lblue);
    color: white;
    border: none;
    position: fixed;
    top:0;
    margin-left: 0.3%;
}

/* Nav Bar */

nav {
    align-items: center;
    background-color: var(--custom-lblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0;
    min-width: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

nav .closebtn {
    position: absolute;
    top: 4px;
    left: 8px;
    font-size: 36px;
  }

nav h2 {
    margin: 0 10px 10px 10px;
    text-decoration: underline;
}

nav a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    text-decoration: none;
}

nav img {
    height: 45%;
    margin-top: 5%;
    width: 45%;
    border-radius: 100%;
}

nav .navUnderLine {
    background-color: #fff;
    height: 3px;
    width: 80%;
    margin: 0;
    margin-bottom: 19.92px;
}

nav a p {
    color: #fff;
    text-decoration: underline #fff;
}


nav .caption {
    margin: 0 5px;
}

nav .email {
    display: flex;
    align-items: center;
}

nav .emailText {
    padding-left: 0;
}

nav .emailImg {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    padding-right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;;
}
  
nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;
    height: 70px;
    font-weight: 700;
}

nav li:last-child {
    border-bottom: 1px solid #fff;
}

nav li a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 70px;
    width: 100%;
}
  
nav li a:hover {
    background-color: #fff;
    background-size: contain;
    color: var(--custom-lblue);
    width: 100%;
}

nav .contactIcons {
    display: flex;
}

nav .linkIcons {
    height: 40px;
    width: 40px;
    border-radius: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
}

nav .linkIcons:first-child {
    margin-right: 10px;
}

nav .linkIcons:last-child {
    margin-left: 10px;
}
  
/* About Me */

.about h2, nav h2 {
    border-top: 0;
}

/* Skills */

.skills .skillbox {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    border: 1px solid green;
}

.skills .skillbox div {
    border: 1px solid red;
}


/* Projects */

.innerds {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.innerds a {
    text-decoration: none;
    color: #fff;
}

.innerds div {
    width: max-content;
    background-color: var(--custom-lblue);
    border: 1px solid black;
    box-shadow: 6px 6px 12px rgba(60, 92, 168, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
}

.innerds div:hover {
    border: 1px solid #fff;
}

.innerds img {
    height: 162px; /* 9 */
    width: 288px; /* 16 */
}

.innerds figcaption {
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

/* Contact */

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px var(--custom-lblue);
}

fieldset {
    border: 0;
    margin: 0;
}

.contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    line-height: 20px;
    margin-bottom: 20px;
    max-height: 220px;
    width: 100%;
}

.contact .two-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 18.72px;
}

.contact button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: var(--custom-lblue);
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Responsive design */

@media only screen and (max-width: 950px) {
    .about, .skills, .projects, .contact {
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        white-space: nowrap;
    }
}

@media only screen and (min-width: 950px) {
    #mySidebar {
        width: 20%;
        height: 632px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 5px;
        position: fixed;
    }

    #me {
        height: 135px;
        width: 135px;
    }

    .closebtn, .main {
        display: none;
    }

    .sidebar {
        margin-top: 1%
    }
}