/* Universal Code */

html {
  background-image: url('backgroundimg.jpg');
  opacity: 0.9;
}

/* Navagation Bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


/* Header */

/* Body */

body h2 {
background-color: #777;
}

.title {
  columns: 1;
}



  /* Projects */

#projgrid {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
}

.desc {
  background-color: #ffffff;
  text-align: center;
}

.gallery {
  border: 1px solid #000000;
  width: 180px;
  display: inline-flex;
  min-height: 100px;
}
    
div.gallery:hover {
  border: 2px solid;
}
    
div.gallery img {
  width: 100%;
  height: auto;
}

.ugrch, .clsproj, .cdecdy {
background-color: #CDCDCD;
}

  /* Bio */

.grid-bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30rem;
}

#imagebio {
  background-color: #000000;
}

#contentbio {
  background-color: grey;
  font-size: 1.25rem;
}

#imagebio img {
  height: 90%;
  margin: 1.5rem auto;
}

#contentbio p {
  margin: 10%;
}

/* Contact */
.gridone {
  width: 40%;
  padding: 5px 5px;
  margin: 10px 0 10px 10px;
  background-color: black;
  opacity: 0.8;
  color: seashell;
}

.gridone p {
  padding-left: 5px;
}

/* Footer */
footer {
  display: static;
  background-color: #333;
  color: #FFFFFF;
  padding: 14px 16px;
  position: static;
}